
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="spaced_text"> Rajouter un Produit dans la base </h1>
    <p>Attention un produit ne peut avoir un prix <= 0</p>
    {% block form %}
        {{ form_start(form) }}

        {{ form_end(form) }}
    {% endblock %}

{% endblock %}

