{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="spaced_text"> Kafet V0.1 By Maltiize</h1>
    <p>

        <h3 class="spaced_text">En cas de bug</h3>

         <p>  Cette webApp a été crée avec amour par Etienne Martin Info4 Promo 2016.

             </br>
           Email : etienne.mart@laposte.net</p>

    <h3 class="spaced_text">Technos Utilisées</h3>
    <p>
        Backend : Symfony3.x</br>
        FrontEnd : Twig / Bootstrap template</br>
        Model : Doctrine</br>
        Module de connections : FOSUserBundle


    </p>





    </p>

{% endblock %}

